<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561345282616-fhhtbdtlt28cj64qm481gcd4s2ud9kd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561345282616-fhhtbdtlt28cj64qm481gcd4s2ud9kd7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>561345282616-o4j9g5gg05i4r7j23rtpe3de80ul2u0b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC661kDUeCBe-mwxrBo9bXr6YY541-m4Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>561345282616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapoutapp</string>
	<key>PROJECT_ID</key>
	<string>mapoutapp-a3fac</string>
	<key>STORAGE_BUCKET</key>
	<string>mapoutapp-a3fac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561345282616:ios:fba630c2471cc7f9afdccd</string>
	<key>DATABASE_URL</key>
	<string>https://mapoutapp-a3fac-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>